* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: #EAE8FF;
  text-decoration: underline;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #D8D5DB;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #ADACB5;
  padding-bottom: 5px;
  padding-top: 5px;
}

.logo {
  width: 20%;
  margin-left: 20px;
}

.logo:hover {
  cursor: pointer;
  border: #EAE8FF;
  border-radius: 5%;
  background-color: #EAE8FF;
  width: 100%;
  transition:ease-in-out;
  transition-duration: 0.7s;
}

.nav-links {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.nav-links li:hover {
  cursor: pointer;
  color: #EAE8FF;
  text-decoration: underline;
}

.pfp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 5px 4px 60px #2a5785;
  transition-duration: 3s;
  transition: ease-in-out;
  height: 400px;
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.welcome {
  text-align: center;
  position: relative;
  transform: translateX(-200%);
  animation: slide-in-anim 1.5s ease-out forwards;
}

@keyframes slide-in-anim {
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

.aboutMe {
  text-align: center;
  margin-top: 100px;
  text-decoration: underline;
  font-size: 30px;
  transform: translateY(-200%);
  animation: slide-below 0.5s ease-out forwards;
}

@keyframes slide-below {
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


.about {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: #a8a4c0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}

.closing {
  text-align: center;
  color: #D8D5DB;
  margin-top: 0;
}

.conclusion {
  background-color: #2D3142;
  
}

.linkedIn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: #551B54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #fff;
  color: #551B54;
  border: 2px solid #551B54;
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}
